name: clang-tidy and clang-format

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  analyze:
    strategy:
      matrix:
        os: [windows-latest]
        arch: [x64]
        compiler: [cl]
        build_type: ['debug']
    runs-on: ${{ matrix.os }}

    env:
      preset: ${{matrix.compiler}}-${{matrix.arch}}-${{matrix.build_type}}
      shared_dependency_cache: ${{matrix.arch}}-${{matrix.build_type}}

    steps:
    - uses: actions/checkout@v3
    - uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: ${{matrix.arch}}
        
    - name: Cache Dependencies
      id: cache-deps
      uses: actions/cache@v3
      with:
        path: ${{github.workspace}}/out/build/${preset}/vcpkg_installed
        key: ${{matrix.os}}-${shared_dependency_cache}-${{hashFiles('**/vcpkg.json')}}
        enableCrossOsArchive: true
    
    - name: Integrate vcpkg
      run: vcpkg integrate install

    - name: Configure CMake
      run: cmake --preset ${preset}

    - name: Run clang-tidy and clang-format 
      uses: cpp-linter/cpp-linter-action@v2
      id: linter
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        version: 15
        style: file
        database: out/build/${preset}
        thread-comments: true
        step-summary: true
        tidy-checks: ''
