name: Build and test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    strategy:
      matrix:
        os: [windows-latest]
        arch: [x64]
        compiler: [cl, clang-cl]
        build_type: [debug, release]
    runs-on: ${{ matrix.os }}

    env:
      preset: ${{matrix.compiler}}-${{matrix.arch}}-${{matrix.build_type}}
      shared_dependency_cache: ${{matrix.arch}}-${{matrix.build_type}}

    steps:
    - uses: actions/checkout@v3
    - uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: ${{matrix.arch}}
        
    - name: Cache Dependencies
      id: cache-deps
      uses: actions/cache@v3
      with:
        path: ${{github.workspace}}/out/build/${preset}/vcpkg_installed
        key: ${{matrix.os}}-${{jobs.test.env.shared_dependency_cache}}-${{hashFiles('**/vcpkg.json')}}
        enableCrossOsArchive: true
    
    - name: Integrate vcpkg
      run: vcpkg integrate install

    - name: Configure CMake
      run: cmake --preset ${{jobs.test.env.shared_dependency_cache}}

    - name: Build
      run: cmake --build --preset ${{jobs.test.env.shared_dependency_cache}}

    - name: Test
      run: ctest --preset ${{jobs.test.env.shared_dependency_cache}}
