name: CMake

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: release
  VCPKG_ROOT: C:\vcpkg\

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    strategy:
      matrix:
        os: [windows-latest]
        arch: [x64]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: ${{matrix.arch}}
        
    - name: Cache Dependencies
      id: cache-deps
      uses: actions/cache@v3
      with:
        path: ${{github.workspace}}/out/build/${{matrix.arch}}-${{env.BUILD_TYPE}}/vcpkg_installed
        key: ${{matrix.os}}-${{matrix.arch}}-${{env.BUILD_TYPE}}-${{hashFiles('**/vcpkg.json')}}
        enableCrossOsArchive: true
    
    - name: Integrate vcpkg
      run: vcpkg integrate install

    - name: Configure CMake
      run: cmake --preset ${{matrix.arch}}-${{env.BUILD_TYPE}}

    - name: Build
      working-directory: ${{github.workspace}}/out/build/
      run: cmake --build --preset ${{matrix.arch}}-${{env.BUILD_TYPE}}

    - name: Test
      working-directory: ${{github.workspace}}/out/build/
      run: ctest --preset ${{matrix.arch}}-${{env.BUILD_TYPE}}
