name: CMake

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  BUILD_TYPE: debug
  BUILD_CONFIG: 'Debug'
  BUILD_DIR: '${{ github.workspace }}/out/build'

jobs:
  analyze:
    strategy:
      matrix:
        os: [windows-latest]
        arch: [x64]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
    - uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: ${{matrix.arch}}
        
    - name: Cache Dependencies
      id: cache-deps
      uses: actions/cache@v3
      with:
        path: ${{github.workspace}}/out/build/${{matrix.arch}}-${{env.BUILD_TYPE}}/vcpkg_installed
        key: ${{matrix.os}}-${{matrix.arch}}-${{env.BUILD_TYPE}}-${{hashFiles('**/vcpkg.json')}}
        enableCrossOsArchive: true
    
    - name: Integrate vcpkg
      run: vcpkg integrate install

    - name: Configure CMake
      run: cmake --preset ${{matrix.arch}}-${{env.BUILD_TYPE}}

    - name: Run MSVC Code Analysis
      uses: microsoft/msvc-code-analysis-action@v0.1.1
      id: run-analysis
      with:
          cmakeBuildDirectory: ${{ env.BUILD_DIR }}
          buildConfiguration: ${{ env.BUILD_CONFIG }}
          ruleset: NativeRecommendedRules.ruleset
          ignoredPaths: ${{ github.workspace }}/out;${{ github.workspace }}/tests

    - name: Upload SARIF to GitHub
      uses: github/codeql-action/upload-sarif@v2
      with:
        sarif_file: ${{ steps.run-analysis.outputs.sarif }}
        
    - name: Upload SARIF as an Artifact
      uses: actions/upload-artifact@v2
      with:
          name: sarif-file
          path: ${{ steps.run-analysis.outputs.sarif }}