#name: Doxygen

#on:
#  push:
#    branches: [ "master" ]
#  pull_request:
#    branches: [ master ]
    
#permissions:
#  contents: write
#  pages: write
#  deployments: write
#  id-token: write

#jobs:
#  documentation_generation:
#    runs-on: ubuntu-latest
#    environment:
#      name: github-pages
#      url: ${{ steps.deployment.outputs.page_url }}

#    steps:
#    - uses: actions/checkout@v3
    
#    - name: Create documentation location
#      run: mkdir -p out/documentation

#    - name: Generate Documentation
#      uses: mattnotmitt/doxygen-action@v1.9.5

#    - name: Upload GitHub Pages artifact
#      uses: actions/upload-pages-artifact@v1.0.8
#      with:
#        path: 'out/documentation/html'
          
#    - name: Configure GitHub Pages
#      uses: actions/configure-pages@v3.0.6
        
#    - name: Deploy GitHub Pages site
#      id: deployment
#      uses: actions/deploy-pages@v2.0.2
