name: Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_run:
    workflows: [build]
    types:
      - completed

jobs:
  test:
    strategy:
      matrix:
        os: [windows-latest]
        arch: [x64]
        compiler: [cl, clang-cl]
        build_type: [debug, release]

    runs-on: ${{ matrix.os }}

    env:
      preset: ${{matrix.compiler}}-${{matrix.arch}}-${{matrix.build_type}}
      output_dir: ${{github.workspace}}/out/build/${{matrix.compiler}}-${{matrix.arch}}-${{matrix.build_type}}
      shared_dependency_cache: ${{matrix.os}}-${{matrix.arch}}

    steps:
    - uses: actions/checkout@v3
    - uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: ${{matrix.arch}}
        
    - name: Test Cached Builds
      id: cache-cmake-conf
      uses: actions/cache@v3
      with:
        path: ${{github.workspace}}/out/build/${{env.preset}}
        key: ${{env.preset}}-${{hashFiles('**/CMakeLists.txt' '**/CMakePresets.json' '**/vcpkg.json')}}
        enableCrossOsArchive: true
        fail-on-cache-miss: true
        lookup-only: true

    - name: Test
      run: ctest --preset ${{env.preset}}